@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.aboutPageContainer {

  @media (--media-max-medium) {
    padding: 6.5em .75em .4em .75em;
  }

  @media (--media-min-medium){
    height: 100vh;
    padding: 5em;
    display: grid;
    grid-gap: 6rem;
    /* Size of items defined inside container */
      grid-template-columns: 1.2fr 1fr 1.2fr;
      grid-template-rows: auto;
      grid-template-areas: "bio pic awards awards"
                          "contact . awards awards";
      }
    }

.mainContent {
 align-items: center;
 margin-top: 1em;
}

.bio{
  grid-area: bio;
  margin-left: .2em;
}

.pic {
  grid-area: pic;
  margin-top: 5em;
}
.contact{
  grid-area: contact;
}
.awards{
  grid-area: awards;
  font-size: var(--font-small-size);
  line-height: var(--font-micro-line-height);
}

.awards a:hover{
  color: var(--color-blue);
  transition: color 100ms ease-in-out;
}
.profileImage {
  position: relative;
  background: var(--color-peach);
  padding-bottom: calc(9 / 16 * 100%);
}
