@import '../styles/custom-media.css';



.archiveContainer{
   height: 100vh;
  display: flex;
  flex-direction: column;


box-sizing: border-box;
/*max-width: 960px;*/
padding: 1em;
margin-top: 7em;
margin-left: 4em;
z-index: 999;


}

.projectContainer img{
 display: none;
  max-height: 50%;
}

.projectContainer p{
  z-index: 1;
  position: relative;

}

.projectContainer li{
  margin: 0 !important;
  display: flex;

}


.projectContainer{
 text-decoration: none;

}

.projectContainer {
  display:flex;
}

.projectContainer:hover img{
   @media (--media-max-small){ display: none;}
  display: inline-flex;
  animation: fade_in_show 500ms;

  position: absolute;
  z-index: 1;
  transform: translate(500px);
}


@keyframes fade_in_show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.projectItem{
  margin-bottom: 1em;
}
