.root {
  display: block;
  color: inherit;
  text-decoration: none;
}

.title {
  composes: responsiveTitle1 from './typography.module.css';
}

.leadMediaThumb {
  position: relative;
  padding-bottom: 75%;
  background: var(--color-peach);

  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


}

.overlay {
    background: black;

  position: absolute;
  bottom: 50%;
  width: 100%;
  transition: .2s ease;
  opacity:0;
  font-size:1.25rem;
  padding: 0;
  text-align: center;
  font-weight: 800;
  letter-spacing: 0.05rem;



  @nest & span {
    color: white;
  }
}



/* When you mouse over the container, fade in the overlay title */
.leadMediaThumb:hover .overlay {
  opacity: 1;
}

.leadMediaThumb:hover img{
    opacity: .9;
    transition: .2s ease;

}


.title {
  text-align: center;
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: none;
    }
  }
}

.excerpt {
  @nest & p {
    margin: 0.5em 0;
  }

  @nest & strong {
    font-weight: 500;
  }
}

