.root {
  display: block;
  color: inherit;
  text-decoration: none;
}

.title {
  composes: responsiveTitle1 from './typography.module.css';
  max-width:100%;
}

.leadMediaThumb {
  position: relative;
  display: flex;
   align-items: center;
   justify-content: center;
  /*background: var(--color-peach);*/



  @nest & img {


    /*top: 0;*/
    max-height: 100%;
   /*max-width: 100%;*/
  }


}

.overlay {

   position: absolute;
  display: none;
  font-size:1.5rem;
  padding: .3rem;
  text-align: center;

  font-weight: 800;
  letter-spacing: 0.05rem;
  width: auto;
  opacity: 0;
  transition: opacity, filter .2s;


/*background: var(--color-peach);*/

    color: white;
}



/* When you mouse over the container, fade in the overlay title */
.leadMediaThumb:hover .overlay {
  display: block;
  opacity: 1;
  z-index: 999;
}

.leadMediaThumb:hover img{
  filter: brightness(90%);
  transition: .2s;


}






.title {
  text-align: center;
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: none;
    }
  }
}

.excerpt {
  @nest & p {
    margin: 0.5em 0;
  }

  @nest & strong {
    font-weight: 500;
  }
}

